div{
    width: 500px;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.884); */
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 33px rgb(255, 0, 0);
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    background-image: -moz-linear-gradient(blue, white, yellow);
    /* margin: 0; */
}

h1{
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
h2{
    font-size: 14px;
    text-transform: uppercase;
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    margin:0;
}
h3{
    font-size: 16px;
    text-transform: uppercase;
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
}
img{
    width: 230px;
    margin-top: 50px;
}
a{

}